@font-face {
    font-family: Roboto;
    src: url("../fonts/ITCAvantGardeStd-XLt.otf");
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: Roboto;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px !important;
    background-color: #f6f6f6 !important;
    opacity: 1 !important;
}

::-webkit-scrollbar-thumb {
    width: 8px !important;
    background-color: #4E546B !important;
    opacity: 1 !important;
}


.side {
    width: 16%;
    height: 100vh;
    background-color: #2b2f3e;
    position: fixed;
    top: 0;
    left: -20px;
    opacity: 0;
    transition: 0.6s;
    z-index: 99;
    border: none;
}

.side_active {
    left: 0 !important;
    opacity: 1 !important;
}

.side .side_nav {
    padding: 50px 0;
    height: 100%;
    overflow-y: scroll;
    border: none;
}

.side .side_nav .menu{
    margin-bottom: 90px;
}

.side .side_nav::-webkit-scrollbar {
    width: 4px !important;
    background-color: #f6f6f6 !important;
    opacity: 1 !important;
}

.side .side_nav::-webkit-scrollbar-thumb {
    width: 4px !important;
    background-color: #455a64 !important;
    opacity: 1 !important;
}


.side .side_nav .cut {
    margin-bottom: 20px;
}

.side .side_nav .cut span {
    font-size: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.2;
    transition: 0.6s;
}

.side .side_nav .cut .opacity_active {
    opacity: 1;
}

.side .side_nav .cut .side_color {
    display: none;
}

.side .side_nav .cut .side_color li {
    width: calc(100% - 15px);
    color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    line-height: 40px;
    padding: 0 0 0 15px;
    transition: 0.6s;
    cursor: pointer;
    position: relative;
}

.side .side_nav .cut .side_color li:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
    transition: 0.3s;
}

.side .side_nav .cut .side_color li:hover {
    color: #fff;
}

.side .side_nav .cut .side_color li:hover:after {
    width: 100%;
    left: 0;
}

.side .side_nav li {
    border-bottom: 1px solid #343948;
    position: relative;
}

.side .side_nav a {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 15px 5%;
    transition: 0.3s;
}

.side .side_nav a p {
    font-size: 15px;
    color: #999fa8;
    transition: 0.3s;
}

.side .side_nav span {
    font-size: 18px;
    margin-bottom: 30px;
    border: none;
    color: #b9bdc4;
    width: 90%;
    padding: 10px 5%;
    display: block;
}

.side .side_nav a i {
    font-size: 18px;
    color: #999fa8;
    margin-right: 10px;
    transition: 0.3s;
}

.side .side_nav li > a:hover {
    box-shadow: rgba(0, 0, 0, .2) 0px 0px 10px;
    background: firebrick;
}

.side .side_nav li > a:hover i{
    margin-left: 8px;
}

.side .side_nav a:hover p {
    color: #fff;
}

.side .side_nav .active {
    color: #fff;
    background: firebrick;
    box-shadow: rgba(0, 0, 0, .2) 0px 0px 10px;
}
.side .side_nav .active i{
    margin-left: 8px;
}
.side .side_nav .active p {
    color: #fff;
}

.side .side_nav .active i {
    color: #fff;
}

.side .side_nav a:hover i {
    color: #fff;
}

.side .side_nav li .sub-menu {
    display: none;
}

.side .side_nav li .sub-menu > a {
    color: #909298;
    font-size: 12px;
    border-left: 1px solid transparent;
}

.side .side_nav li .sub-menu > a:hover {
    border-left: 3px solid #5e6271;
}

.side .side_nav .menu_active .sub-menu {
    display: block;
}

.side .side_nav .menu_active .title {
    background-color: #ff404b;
    box-shadow: rgba(0, 0, 0, .2) 0px 0px 10px;
}

.side .side_nav .menu_active .title i {
    color: #fff;
}

.side .side_nav .menu_active .title p {
    color: #fff;
}

.side .side_nav .menu .sub-menu .bor_active {
    border-left: 3px solid #fff;
}

.main {
    padding-left: 16%;
    width: 84%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two_main {
    padding-left: 16%;
    width: 84%;
    overflow: hidden;
    transition: 0.4s;
    min-height: 100vh;
}

.two_warp {
    width: 98%;
    margin: 1% auto;
    transition: 0.6s;
    opacity: 0;
    position: relative;
    left: 25px;
}

.left_active {
    left: 0 !important;
    opacity: 1 !important;
}

.two_main h3 {
    margin: 10px 0 10px 10px;
    padding: 10px;
    background: firebrick;
    border-left: 4px solid #6b0505;
    color: #fff;
    font-size: 14px;
    transition: 0.6s;
}

.two_main .text p,
.two_main .text a {
    color: #4E546B;
    font-size: 14px;
    line-height: 25px;
    width: 97%;
    margin: auto;
}

.two_main .text a {
    font-weight: bold;
    color: #080;
    margin-right: 20px;
}

.two_main .text .active {
    color: #ff404b;
}
.two_main .text .active:hover{
    text-decoration: underline;
}

.two_main .text a:last-child {
    margin-right: 0;
}

.two_main h5 {
    font-size: 15px;
    margin: 0 10px;
    padding: 8px 10px;
    color: #0865BB;
}
.exhibit{
    position: relative;
}
.two_main pre {
    margin: 10px;
    padding: 10px;
    background: #f8f8f8;
    border: 1px solid #f0f0f0;
    color: #333;
    font: 13px/23px Consolas, 'Lucida Sans Typewriter', 'Lucida Console', Monaco,
    'Bitstream Vera Sans Mono', monospace;
    position: relative;
}

.exhibit .copy{
    position: absolute;
    right: 30px;
    top: 15px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background: firebrick;
}
.exhibit .copy p{
    font-size: 12px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: 0.6s;
}
.exhibit .copy p:nth-child(2){
    opacity: 0;
}
.copy_active p:nth-child(1){
    opacity: 0!important;
}
.copy_active p:nth-child(2){
    opacity: 1!important;
}

.load {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load div {
    width: 80px;
    height: 80px;
    border-top: 4px solid #11994b;
    border-right: 4px solid #f2a808;
    border-bottom: 4px solid #2399e7;
    border-left: 4px solid #c0392b;
    border-radius: 50%;
    animation: rota 1s infinite linear;
}

.load img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

@keyframes rota {
    100% {
        transform: rotate(360deg);
    }
}

.mobile {
    height: auto;
    position: fixed;
    right: 5%;
    top: 3%;
    z-index: 9999;
    display: none;
}

.mobile span {
    width: 25px;
    height: 2px;
    background-color: #111;
    display: block;
    margin-top: 6px;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.4s;
}

.mobile span:first-child {
    margin-top: 0;
}

.mobile_active span {
    background-color: #fff;
}

.mobile_active span:nth-child(1) {
    opacity: 0;
    left: -50px;
}

.mobile_active span:nth-child(2) {
    transform: rotate(45deg);
}

.mobile_active span:nth-child(3) {
    transform: rotate(-45deg);
    top: -8px;
}

@media screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
        width: 100%;
    }

    .mobile {
        display: block;
    }

    .main {
        width: 100%;
        padding-left: 0;
    }

    .side {
        width: 100%;
        left: -100%;
        opacity: 0;
    }

    .two_main {
        width: 100%;
        padding-left: 0;
    }

    .two_main .text p,
    .two_main .text a {
        width: 94%;
    }
}

.style_html {
    color: #080 !important;
}

.style_css {
    color: #b08c40 !important;
}

.style_js {
    color: #c55c2d !important;
}

.style_link {
    color: #98958e !important;
}

.button {
    display: flex;
    margin-top: 30px;
    margin-bottom: 55px;
    margin-left: 20px;
}

.button a {
    height: 35px;
    padding: 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
}

.button a .border_line {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    border-radius: 25px;
    border: 1px solid firebrick;
    transition: transform .4s cubic-bezier(.19, 1, .22, 1), opacity .4s cubic-bezier(.19, 1, .22, 1);
}

.button a .background {
    width: 100%;
    height: 100%;
    transform: scale(0);
    position: absolute;
    background: firebrick;
    z-index: 0;
    transition: transform .7s cubic-bezier(.19, 1, .22, 1), opacity .15s cubic-bezier(.165, .84, .44, 1);
    opacity: 0;
    border-radius: 25px;
}

.button a p {
    font-size: 12px;
    position: relative;
    z-index: 1;
    transition: 0.6s;
    color: firebrick;
}

.button a:last-child {
    margin-right: 0;
}

.button a:hover .border_line {
    transform: scale(1.3);
    opacity: 0;
}

.button a:hover .background {
    transform: scale(1);
    opacity: 1;
}

.button a:hover p {
    color: #fff!important;
}

.map{
    height: 600px;
    margin: 10px;
}
.map #allmap{
    height: 100%;
}

.fancybox{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.fancybox a{
    width: 300px;
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.6s;
}
.fancybox a:last-child{
    margin-right: 0;
}
.fancybox a img{
    width: 100%;
    height: 100%;
}
.notable{
    width: calc(100% - 10px);
    height: 300px;
    margin: 10px 10px 80px 10px;
}
.notable .swiper-slide img{
    width: 100%;
    height: 100%;
}
.notable .swiper-wrapper {
    transition-timing-function: linear!important;
}
.mouse{
    margin: 10px 10px 30px 10px;
    width: calc(100% - 10px);
    height: 400px;
    background-color: #2b2f3e;
}

.swiper_reveal{
    width: 500px;
    height: 305px;
    margin: 10px!important;
}
.swiper_reveal .swiper-slide img{
    width: 100%;
    height: 100%;
}

/* 登录 */

.login{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /*filter: blur(10px);*/
    transform: scale(1.1);
    object-fit: cover;
}
.login:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.login .warp{
    position: relative;
    z-index: 2;
    width: 430px;
    height: 520px;
    border: 1px solid #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .warp .center{
    width: 80%;
    text-align: center;
}
.login .warp .center .images{
    width: 70px;
    margin: 0 auto 50px;
}
.login .warp .center .images img{
    width: 100%;
}
.login .warp .center input{
    width: calc(100% - 15px);
    height: 40px;
    border: 1px solid #fff;
    margin-bottom: 30px;
    background: transparent;
    font-size: 12px;
    transition: 1s;
    padding-left: 15px;
    color: #fff;
    line-height: 52px;
}
.input_active{
    border: 1px solid #ff404b!important;
}
.login .warp .center input::placeholder{
    color: #fff;
    font-size: 12px;
    opacity: 0.5;
    letter-spacing: 1px;
}
.login .warp .center button{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    font-size: 14px;
    transition: 0.6s;
    color: #131313;
    cursor: pointer;
}
.login .warp .center button:hover{
    background: #ff404b;
    color: #fff;
}

.login .alert .item{
    width: 280px;
    height: 48px;
    background-color: #fffbfb;
    color: #ff404b;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 13px;
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translateX(-50%);
    z-index: 2;
    pointer-events: none;
    transition: 0.6s;
    opacity: 0;
}
.login .alert .active{
    opacity: 1;
    top: 10%;
}
@media screen and (max-width: 768px) {
    .login .warp{
        width: 80%;
    }
    .login .alert .item{
        width: 50%;
    }
}

/*劳动*/
.labor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}
.labor .after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    transform: scaleY(0) translateZ(0);
    transform-origin: top;
    transition: transform 1.2s cubic-bezier(.77, 0, .175, 1) .2s, -webkit-transform 1.2s cubic-bezier(.77, 0, .175, 1) .2s;
    transition-delay: 0s;
}
.labor_active{
    opacity: 1;
    pointer-events: unset;
}
.after_active{
    transform: scaleY(1) translateZ(0) !important;
}

.labor .iconfont{
    color: red;
    font-size: 50px;
    position: relative;
    z-index: 2;
    opacity: 0;
    animation: 1.2s scale linear infinite;
    transition: 0.6s;
}

.iconfont_active{
    opacity: 1!important;
}
@keyframes scale {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}
.each{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 28px;
}
.each span{
    opacity: 0;
    transition: 0.8s;
    position: relative;
    top: -50px;
    letter-spacing: 3px;
}
.each_active span{
    opacity: 1;
    top: 0;
}


.theme-9 {
    --color-item-bg: linear-gradient(120deg, #d299c2 0%, #fef9d7 100%);
    --color-button-bg: #fff;
    --color-button-text: #111;
    --button-padding: 1rem 3rem;
    --radius-button: 10px;
    --border-button: 0;
}
.grid__item {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    padding: 4rem 1.5rem;
    height: 100vw;
    width: 100vw;
    z-index: 1;
}
.action {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    margin: 2rem;
    color: var(--color-action);
    border: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
}
.icon {
    display: block;
    width: 2em;
    height: 2em;
    margin: 0 auto;
    fill: currentColor;
}
.particles {
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
}
.particles-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.particles-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    border-radius: 5px;
    border-radius: var(--radius-button);
    background: var(--color-button-bg);
    color: var(--color-button-text);
    border: 0;
    border: var(--border-button);
    margin: 0;
    padding: 1.5rem 3rem;
    padding: var(--button-padding);
    cursor: pointer;
}
.particles-button {
    grid-area: 1 / 1 / 2 / 2;
}
.particles-canvas {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}

.labor .pushButton{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    transition: 0.8s;
    pointer-events: none;
    margin-top: 50px;
}
.labor .opacity_active{
    opacity: 1!important;
    pointer-events: unset!important;
    margin-top: 0;
}

.reveal_time{
    width: fit-content;
    padding: 0 20px;
    height: 60px;
    margin: 10px 10px 50px 10px;
    background: #4e95e7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

/*主题*/
.side_nav .theme{
    width: 150px;
    margin: 0 auto 100px;
    background: #fff;
    overflow: hidden;
}
.side_nav .theme .title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background: #fff;
    cursor: pointer;
    margin: auto;
}
.side_nav .theme .title p{
    font-size: 13px;
    color: #131313;
    margin-right: 15px;
}
.side_nav .theme .title .iconfont{
    color: #131313;
    font-size: 13px;
}

.side_nav .theme .cut{
    width: 100%;
    margin: auto;
    height: 0;
    overflow: hidden;
    transition: 1s;
}
.side_nav .theme .cut_active{
    height: 240px;
}
.side_nav .theme .cut .item{
    width: 90%;
    height: 40px;
    padding: 0 5%;
    display: flex;
    align-items: center;
    transition: 0.6s;
    cursor: pointer;
}
.side_nav .theme .cut .item:hover{
    background: rgba(0,0,0,0.1);
}
.side_nav .theme .cut .item .square{
    width: 26px;
    height: 26px;
    transition: 0.6s;
}
.side_nav .theme .cut .item:hover .square {
    margin-left: 8px;
}
.side_nav .theme .cut .item p{
    margin-left: 30px;
    color: #131313;
    font-size: 14px;
}



.red_active .two_main h3{
    background: firebrick;
    border-left: 4px solid #6b0505;
}
.red_active .exhibit .copy{
    background: firebrick;
}
.red_active .side .side_nav .active{
    background: firebrick;
}
.red_active .side .side_nav li > a:hover{
    background: firebrick;
}
.red_active .button a .border_line{
    border: 1px solid firebrick;
}
.red_active .button a .background{
    background: firebrick;
}

.red_active .button a p{
    color: firebrick;
}


.blue_active .two_main h3{
    background: #3f51b5;
    border-left: 4px solid #303f9f;
}
.blue_active .exhibit .copy{
    background: #3f51b5;
}
.blue_active .side .side_nav .active{
    background: #3f51b5;
}
.blue_active .side .side_nav li > a:hover{
    background: #3f51b5;
}
.blue_active .button a .border_line{
    border: 1px solid #3f51b5;
}
.blue_active .button a .background{
    background: #3f51b5;
}
.blue_active .button a p{
    color: #3f51b5;
}


.purple_active .two_main h3{
    background: #673ab7;
    border-left: 4px solid #512da8;
}
.purple_active .exhibit .copy{
    background: #673ab7;
}
.purple_active .side .side_nav .active{
    background: #673ab7;
}
.purple_active .side .side_nav li > a:hover{
    background: #673ab7;
}
.purple_active .button a .border_line{
    border: 1px solid #673ab7;
}
.purple_active .button a .background{
    background: #673ab7;
}
.purple_active .button a p{
    color: #673ab7;
}


.brown_active .two_main h3{
    background: #795548;
    border-left: 4px solid #5d4037;
}
.brown_active .exhibit .copy{
    background: #795548;
}
.brown_active .side .side_nav .active{
    background: #795548;
}
.brown_active .side .side_nav li > a:hover{
    background: #795548;
}
.brown_active .button a .border_line{
    border: 1px solid #795548;
}
.brown_active .button a .background{
    background: #795548;
}
.brown_active .button a p{
    color: #795548;
}



.green_active .two_main h3{
    background: #4caf50;
    border-left: 4px solid #388e3c;
}
.green_active .exhibit .copy{
    background: #4caf50;
}
.green_active .side .side_nav .active{
    background: #4caf50;
}
.green_active .side .side_nav li > a:hover{
    background: #4caf50;
}
.green_active .button a .border_line{
    border: 1px solid #4caf50;
}
.green_active .button a .background{
    background: #4caf50;
}
.green_active .button a p{
    color: #4caf50;
}



.cyan_active .two_main h3{
    background: #009688;
    border-left: 4px solid #00796b;
}
.cyan_active .exhibit .copy{
    background: #009688;
}
.cyan_active .side .side_nav .active{
    background: #009688;
}
.cyan_active .side .side_nav li > a:hover{
    background: #009688;
}
.cyan_active .button a .border_line{
    border: 1px solid #009688;
}
.cyan_active .button a .background{
    background: #009688;
}
.cyan_active .button a p{
    color: #009688;
}